<main class="container">
  <section class="posts">
    <div class="post" *ngFor="let post of posts">
      <h2>{{ post.title }}</h2>
      <img
        [src]="post.imageUrl"
        alt="Image for {{ post.title }}"
        (error)="imageError($event)"
      />
      <p>{{ post.content }}</p>
      <p class="date">Date: {{ post.date | date : "dd/MM/yyyy" }}</p>
    </div>
  </section>
  <section class="form">
    <input
      [(ngModel)]="newPost.title"
      name="title"
      placeholder="Title"
      required
    />
    <input
      type="url"
      name="imageUrl"
      placeholder="Image Url https://example.com/something.png"
      [(ngModel)]="newPost.imageUrl"
      required
    />
    <textarea
      name="message"
      placeholder="Your message"
      [(ngModel)]="newPost.content"
      required
    ></textarea>
    <input [(ngModel)]="newPost.date" name="date" type="date" required />
    <button (click)="addPost()">Add</button>
  </section>
</main>
